/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}



body {
        padding: 25px;
        background-color: #ff00d4;
        color: black;
        font-size: 25px;
      }
      .dark-mode {
        /*background-color: black;*/
        background: url("/assets/tkt.gif");
        color: white;
      }
      .light-mode {
        background-color: white;
        color: black;
      }
nav{
    width: 100%;
    margin: 15px auto 40px auto;
    background-color: #ff00e1;
    position: sticky;
    top: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ff00ea;
}

li:last-child {
  border-right: none;
}


.title{
  margin: 0px 20px;
  height: 400px;
  background: url("/assets/bg.png");
  background-repeat: repeat-x;
  border-radius: 8px;
  
}

.contener{

}

h1 {
font-family: Verdana, sans-serif;
color: #ff00ea;
text-align: center;
margin: 0px;
padding: 0px;
}

h2 {
  font-family: Verdana, sans-serif;
  color: #000000;
  text-align: center;
  margin: 10px;
  padding: 0px;
}

h3 {
  font-family: sans-serif;
  color: #ff00ea;
  text-align: center;
  margin: 10px;
  padding: 0px;
}



.changelog {
  background-color: #ff00c8;
  padding: 10px;
 /* height: 200px;  Should be removed. Only for demonstration */
  border-radius: 8px;
}

/*typing animation*/
#typing {
  
 width: 0ch;
 color: #4d4c4c;
 float: left;
 font-family: sans-serif;
 font-weight:bold;
 font-size: 50px;
 margin-top: 20%;
 margin-left: 20%;
 overflow: hidden;
 white-space: nowrap;
 animation: typing 5s steps(22) 1s infinite alternate;
 }

#typing span{
 color:rgb(79, 255, 35);}

#crow {
 float: left;
 margin-top: 20%;
 color: rgb(79, 255, 35);
 font-family: consolas;
 font-weight:bold;
 font-size: 50px;
 animation: crow 0.1s linear 0s infinite;
 }

@keyframes typing {
  from {
      width: 0ch;
	}
   to {
      width: 28ch;
	 }
}

@keyframes crow {
   from {
	 opacity: 0;
	 }

    to {
	 opacity: 1;
	 }
}
/*
table, caption {

border: 2px solid skyblue;
  border-collapse: collapse;

}
*/
th {
  background-color: #04AA6D;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #999999;}

footer {
  background-color: #f1f1f1;
  padding: 10px;
}

.dark {
  background-color: #696969;
  border-radius: 8px;
  padding: 10px;
}

.splash {
  width: 500px;
  height: 100px;
  background-color: #616161;
  border-radius: 8px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:#ff00ae; left:200px; top:0px;}
  50%  {background-color:#000000; left:400px; top:0px;}
  75%  {background-color:#ff00c8; left:200px; top:0px;}
  100% {background-color:#000000; left:0px; top:0px;}
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip 
  position: absolute;
  z-index: 1;
  */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#cookiePopup {
    background: white;
    width: 25%;
    position: fixed;
    left: 10px;
    bottom: 20px;
    box-shadow: 0px 0px 15px #cccccc;
    padding: 5px 10px;
  }
    #cookiePopup p{
    text-align: left;
    font-size: 15px;
    color: #4e4e4e;
  }
  #cookiePopup button{
    width: 100%;
    border: navajowhite;
    background: #097fb7;
    padding: 5px;
    border-radius: 10px;
    color: white;
  }